// @font-face {font-family: "Goudy Old Style MT W01";
//     src: url("6161cdd41fd3d8d1758d507966b36c6f.eot"); /* IE9*/
//     src: url("6161cdd41fd3d8d1758d507966b36c6f.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
//     url("6161cdd41fd3d8d1758d507966b36c6f.woff2") format("woff2"), /* chrome„ÄÅfirefox */
   
//   }

//   /***********************************Greycliff CF************************************/
// @font-face {
//   font-family: "Greycliff CF";
//   src: local("Greycliff CF Thin"), local("GreycliffCF-Thin"),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-Thin.woff2)
//       format("woff2");
//   font-weight: 100;
// }

// @font-face {
//   font-family: "Greycliff CF";
//   src: local("Greycliff CF Extra Light"), local("GreycliffCF-ExtraLight"),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-ExtraLight.woff2)
//       format("woff2");
//   font-weight: 200;
// }

// @font-face {
//   font-family: "Greycliff CF";
//   src: local("Greycliff CF Light"), local("GreycliffCF-Light"),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-Light.woff2)
//       format("woff2");
//   font-weight: 300;
// }

// @font-face {
//   font-family: "Greycliff CF";
//   src: local("Greycliff CF Medium"), local("GreycliffCF-Medium"),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-Medium.woff2)
//       format("woff2");
//   font-weight: 500;
// }

// @font-face {
//   font-family: "Greycliff CF";
//   src: local("Greycliff CF Demi Bold"), local("GreycliffCF-DemiBold"),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-DemiBold.woff2)
//       format("woff2");
//   font-weight: 600;
// }

// @font-face {
//   font-family: "Greycliff CF";
//   src: local("Greycliff CF Extra Bold"), local("GreycliffCF-ExtraBold"),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-ExtraBold.woff2)
//       format("woff2");
//   font-weight: 800;
// }

// @font-face {
//   font-family: "Greycliff CF";
//   src: local("Greycliff CF Heavy"), local("GreycliffCF-Heavy"),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-Heavy.woff2)
//       format("woff2");
//   font-weight: 900;
// }
// /***********************************************************************************/
