<section id="featured-projects">
  <div class="container-fluid">
    <div class="project-text">
      <h2>Featured Project</h2>
      <p class="project-text-1">
        Few of the project have been opportunied to work on recently as a solo
        designer and with a group of others.
      </p>
    </div>

    <div class="project-images">
      <div class="project-img-sec1">
        <div class="project-info">
          <img
            class="img-fluid"
            src="/assets/images/QUICKSIGN1.svg"
            alt="QUICKSIGN1/svg"
          />
          <div class="project-info-text">
            <h1>Flowmono</h1>
            <div class="project-info-text2">
              <p>Data/process management (SaaS)</p>
              <a href=""><span class="btn-case-study">View case study</span></a>
            </div>
          </div>
        </div>
        <div class="divider"></div>
      </div>
      <div class="project-img-sec2">
        <div class="project-info">
          <img
            class="img-fluid"
            src="/assets/images/QUICKSIGN2.svg"
            alt="QUICKSIGN2/svg"
          />
          <div class="project-info-text">
            <h1>Flowmono</h1>
            <div class="project-info-text2">
              <p>Data/process management (SaaS)</p>
              <a href=""><span class="btn-case-study">View case study</span></a>
            </div>
          </div>
        </div>

        <div class="project-info">
          <img
            class="img-fluid"
            src="/assets/images/QUICKSIGN3.svg"
            alt="QUICKSIGN3/svg"
          />
          <div class="project-info-text">
            <h1>Flowmono</h1>
            <div class="project-info-text2">
              <p>Data/process management (SaaS)</p>
              <a href=""><span class="btn-case-study">View case study</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
