<!-- <section id="landing">
  <div class="container-fluid">
    <div class="home-landing">
      <div class="home-landing-wrapper">
        <h1 class="home-landing-text">The Best Products Are Human Centric</h1>
      </div>
      <img src="assets/images/home-landing.svg" alt="home-landing/svg" />
    </div>
  </div>

  <div class="divider"></div>

  <div class="about-me container-fluid">
    <h2>About Me</h2>
    <div class="about-me-1">
      <div class="about-me-text">
        Hello! I’m Fola, a curious designer with an afinity for using design
        process to understand the market needs and creatively design products
        for such needs. I seek to maximize opportunities and optimize business
        performance for a cutting-edge tech organization.
      </div>
      <div class="about-me-buttons">
        <a href="/assets/images/cv.pdf"
          ><span class="button-1">View my CV</span></a
        >
        <a href="mailto: wemco88@gmail.com"
          ><span class="button-2">Send Message</span></a
        >
      </div>
    </div>
  </div>

  <div class="divider"></div>
</section> -->
