<section id="experience">
  <div class="skill-exp-text">
    <div>
      <h2>Skill and Experience</h2>
    </div>
    <p class="skill-exp-text-2">
      Over 2 years have been able to develop both soft and tech skills, which
      has greatly influence my work live ethic and boost my career. Below shows
      my area of strength and work experience. You can also view my Curriculum
      vital for more information.
    </p>
  </div>

  <div class="skills">
    <img class="img-fluid" src="/assets/images/skills-img.png" alt="img" />

    <div class="skills-text">
      <h2>Skills</h2>
      <ul>
        <li>Visual/Illustration Design</li>
        <div class="divider"></div>
        <li>UX Research</li>
        <div class="divider"></div>
        <li>Wire Frame</li>
        <div class="divider"></div>
        <li>Prototype</li>
        <div class="divider"></div>
        <li>User Experience Design</li>
        <div class="divider"></div>
        <li>Fine Art</li>
        <div class="divider"></div>
      </ul>
    </div>
  </div>

  <div class=" experience">
    <div class=" experience-text">
      <h2>Experience</h2>

      <div class="accordion accordion-flush accord" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              2021-Present Revent Technologies
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is
              shown by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              2020 Hotel NG
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is
              hidden by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              2019-2020 Freelancer
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is
              hidden by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>

    <img class="img-fluid" src="/assets/images/skills-img.png" alt="img" />
  </div>
</section>
